# Network Collector 환경변수 설정 파일
# 이 파일을 .env로 복사하고 실제 값으로 변경하세요
# cp .env.example .env

# Database credentials
DB_PASSWORD=root

# OpenStack credentials
OPENSTACK_AUTH_URL=http://192.168.219.121:5000/v3
OPENSTACK_USERNAME=admin
OPENSTACK_PASSWORD=lsu95080$
OPENSTACK_PROJECT_ID=4c1c2921a66043809a0e6f05c323fa0a

# Authentication
JWT_SECRET='RktIWdiI27RbR3zOrZ9XFDVb3ZjNcvPTP5IZtH9q7bg='
AUTH_TOKEN='tRymL0UgmsMoFEa0QWz6kiJ4WZI2FdEZalm0Pstv1sQ='

# Deployment options (선택사항)
# DEPLOY_INGRESS=y  # Ingress 배포 여부 (y/N, 기본값: N)
DEPLOY_INGRESS=y


